#myInput {
  width: 90%;
  padding: 10px;
  font-size: 16px;
}

#listofUnisBox {
    border: solid    ;
    border-color: rgb(230, 235, 236);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 5px lightgray;

}




#myUL {
    height: 200px;
    overflow:hidden; 
    overflow-y:scroll;
    padding: 0px;
}   

#listContainer {
    border: none;

}

#myUL li {
    list-style-type: none;
    border-width: 1px;
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
    font: bold;
    font-size: 17px;
    padding-left: 0px;
    background-color: #fffefe;
    padding: 5px;
    width: 99%;
}

#myUL li:hover {
    background-color: #e6e3e3;
}