#myInput {
  width: 98%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 8px;
  box-shadow: 5px 5px 5px lightgray;
}

#myInput:focus {
    outline: none;
}


#listofUnisBox {


}




#myUL {
    height: 200px;
    overflow:hidden; 
    overflow-y:scroll;

    border-color: rgb(230, 235, 236);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightgray;
    margin-top: 20px;
}   

#listContainer {
    border: none;

}

#myUL li {
    list-style-type: none;

    font: bold;
    font-size: 17px;
    padding-left: 0px;
    background-color: #fffefe;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 99%;
}

#myUL li:hover {
    background-color: #e6e3e3;
    border-radius: 5px;
}


button {
    color: black;
    font-size: 16px;
    background-color: white;
    font: bold;
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin: 0.3vw;
}

button:hover {
    background-color: #e6e3e3;
    cursor: pointer;
}